POSTGRES_DB=betlify
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=55432
POSTGREST_PORT=13000
POSTGREST_JWT_SECRET=local_jwt_secret_for_betlify_2026_32bytes

LOCAL_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoicG9zdGdyZXMiLCJpc3MiOiJsb2NhbCIsImV4cCI6MjUyNDYwODAwMH0.woUq00a-CcuZAobw52mSghms9lcuPQRYOK783cyO-DY
BACKEND_PORT=8000

API_FOOTBALL_KEY=
THE_ODDS_API_KEY=
ODDS_API_IO_KEY=
ODDS_API_BOOKMAKER=Betfair Exchange
ODDS_API_MAX_REQ_PER_HOUR=100
ODDS_API_MIN_DEPTH=50
ODDS_API_MAX_SPREAD_PCT=0.06
OPENWEATHER_API_KEY=
